DB_PATH=./data/game.db
ASSETS_DIR=./assets
WINDOW_WIDTH=1280
WINDOW_HEIGHT=720
RENDER_SCALE=3
DEBUG_CONFIG_PATH=./config/debug.json
FONT_PATH=./assets/fonts/monogram/ttf/monogram.ttf

# Editor server
EDITOR_PORT=8080
BEHAVIORS_DIR=assets/behaviors
